#tab-container{
    display: block;
}
#custom-drawer{
    display: none;
}

/* @media (min-width: 768px) and (max-width: 1024px){
    #tab-container{
        display: none;
    }
    #custom-drawer{
        display: block;
    }
} */
/* @media (min-width: 481px) and  (max-width: 767px) {
    #tab-container{
        display: none;
    }
    #custom-drawer{
        display: block;
    }
} */
/* @media (max-width: 480px) {
    #tab-container{
        display: none;
    }
    #custom-drawer{
        display: block;
    }
} */
